@using Kanban.ViewModels

@model UsuarioViewModel

<table>
    <thead>
        <th>Nombre de Usuario</th>
        <th>Rol</th>
    </thead>
    <tbody>
            <tr>
                <td>@Model.NombreDeUsuario</td>
                <td>@Model.Rol</td>
            </tr>
    </tbody>
</table>