@using Kanban.ViewModels

@model ListarUsuariosViewModel

<table>
    <thead>
        <td>Nombre de Usuario</td>
        <td>Rol</td>
    </thead>
    <tbody>
        @foreach(UsuarioViewModel usuario in @Model.UsuariosVM)
        {
            <tr>
                <td>@usuario.NombreDeUsuario</td>
                <td>@usuario.Rol</td>
            </tr>
        }
    </tbody>
</table>